*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    background-color: bisque;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*   Inicio cabecera */

.cabecera{
    background-color: rgb(125, 189, 61);
    width: 70%;
    height: 50px;
    padding: 0 40px;

}

.cabecera_link{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.cabecera_img{
    object-fit: cover;
    height: 90%;
    margin-right: 10px;

}
/*   Fin cabecera */

/*   Inicio Navegacion */

.navegacion{
    background-color: rgb(0, 0, 0);
    width: 70%;
    height: 60px;
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

.navegacion a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 25px 50px;
}

.navegacion a:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(218, 185, 87);
    
}
/*  Fin Navegacion */

/*   Inicio Banner */
.banner{
    background-image: url(../Img/spaghetti-g947692dca_1920.jpg);
    background-position: center;
    width: 70%;
    height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.banner h1{
    font-size: 75px;
}

.banner h2{
    font-size: 30px;
}

.banner a{
    background-color:rgb(218, 185, 87);
    width: 250px;
    height: 60px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    margin-top: 75px;
    color: black;
}

.banner a:hover{
    background-color:rgb(13, 13, 13);
    color: rgb(255, 255, 255);
}
/*   Fin Banner */ 

/* Inicia Secion 2 */

.seccion-2{
    background-color: rgb(203, 231, 196);
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
}

.bloque-izquierdo{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0 3%;
}

.izq-titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.izq-titulo h2{
    font: 20px;
}

.izq-titulo h3{
    font-size: 10px;
    margin-top: 10px;
    color: rgb(114, 114, 114);
}

.izq-img{
    width: 100%;
    margin: 30px 0;
}

.izq-img img{
    object-fit: cover;
    width: 100%;
}

.izq-parrafo{
    font-size: 18px;
}





.bloque-derecho{
    width: 40%;
    height: 100%;
    padding: 0 3%;
}

.der-titulo{

    text-align: center;
}

.der-titulo h3{
    font-size: 20px;
}
.der-noticias{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin: 30px 0;
}

.noticias-img{
    width: 50%;
}

.noticias-img img{
    object-fit: cover;
    width: 100%;
}

.noticias-texto{
    width: 50%;
    margin: 0 10px;
}

.noticias-texto h4{
    font-size: 17px;
    text-align: center;
    margin-bottom: 15px;
}

.noticias-texto p{
    font-size: 15px;
    text-align: justify;
}

.noticias-texto a{
    font-size: 14px;
    margin-top: 10px;
}


/* Fin Secion 2 */