*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    background-color: bisque;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*   Inicio cabecera */

.cabecera{
    background-color: chartreuse;
    width: 70%;
    width: 50px;

}

.cabecera_link{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.cabecera_img{
    object-fit: cover;
    height: 90%;
    margin-right: 10px;

}

/*   Fin cabecera */

/*   Inicio Nacegacion */

/*   Inicio Banner */

/*   Fin Banner */